{% extends 'base.html.twig' %}

{% block title %}New Horaire{% endblock %}

{% block body %}
   <div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card border-primary mb-3">
                <div class="card-header">
                    <h1>Create new Horaire</h1>
                </div>
                <div class="card-body">
                    {{ include('horaire/_form.html.twig') }}

                    <a href="{{ path('app_horaire_index') }}" class="btn btn-secondary mt-3">Back to list</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
